// ***********************************
// LINKS
// ***********************************

a, a:visited {
	text-decoration:none;
	@include transition-all(.5s);
}
a:hover, a:active, a:focus {
	@include transition-all(.5s);
}


// ***********************************
// TYPOGRAPHY AND LINKS
// ***********************************

.site-title {
	font-family: $font-family-title;
	font-size:$site-title;
	line-height: 1.48;
	font-weight: normal;
	clear: both;
	text-align: center;
}
.section-title {
	font-size: 3.4rem;
	text-align: center;
	color: $grey;
	font-weight: normal;
}
.feature-title {
	font-weight: normal;
	font-size: 1.8rem;
	text-align: center;
	color: $grey;
	margin: 1rem 0;
}




