// ***********************************
// BUTTONS
// ***********************************

button {
    font-size: 100%; /* Corrects font size not being inherited in all browsers */
    margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}
.apple-button {
    width: 17.2rem;
    height: 5rem;
    border-radius: 0.4rem;
    background-color: $white;
    padding: 1rem 1.8rem;
    font-family: $font-family-primary;
    font-size: 2.2rem;
    text-align: left;
    color: #464646;
    box-sizing: border-box;

  a:hover, a:active, a:focus {
    background: #ccc;
  }
}
.apple-button-black {
    display: block;
    width: 14.63rem;
    height: 4.36rem;
    background: black;
    color: $white;
    background: url("../img/app-store-black.png") no-repeat;
    background-size: 100% 100%;
}

// colors here



